
analysis
    (1) The first and most obvious trend found in the data deals with school size and type.  Small and Medium sized schools had virtually identical scores in all measured statitics, while Large schools did much worse.  The drop in average test score between Small or Medium schools and Large schools was over six points in math and 3 points in reading.  This translated into a coresponding drop in percentage of students passing math and reading.  15% more Large school students failed reading, and 27% more Large schools students failed math compared to their Small and Medium school counterparts.  It is worth noting that all school in the Large category are District schools and had the largest per student spending, while all schools in the Small and Medium categories are Charter schools.
    
    
    (2)  Students success in Mathmatics suffered more across the previously mentioned devide more than Reading.  While testing scores of both disciplines were lower in Large/Discrtict schools that other schools, Mathematics score dropped more than twice as much in these Large/District schools as did Reading.  This translated into an larger decrease in the percentage of students passing math (27%) than reading (16%).  While Large school testing scores in both areas are disappointing, the failure of so many students in Math means these departments need the most work, and should be given particular attention.

In [1]:
import pandas as pd
import numpy as np

In [8]:
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)
complete_df = school_df.merge(student_df, how = "left", on = "school_name")

In [40]:
#total schools
school_count = school_df["school_name"].nunique()
#total students
student_count = school_df["size"].sum()
#total budget
budget_total = school_df["budget"].sum()
#Avg math and reading
avg_math_total = student_df["math_score"].mean()
avg_reading_total = student_df["reading_score"].mean()
#%passing math, reading and overall
math_total = student_df[(student_df["math_score"]>=70)].count()["math_score"]
percent_math_total = math_total/student_count*100
reading_total = student_df[(student_df["reading_score"] >= 70)].count()["reading_score"]
percent_reading_total = reading_total/student_count*100
percent_overall_total = (percent_math_total + percent_reading_total)/2

In [113]:
district_df = pd.DataFrame({"Total Schoosl": [school_count],
                           "Total Students": [student_count],
                           "Total Budget": [budget_total],
                           "Avg Math Score" : [avg_math_total],
                           "Avg Reading Score" : [avg_reading_total],
                           "Percent Passing Math" : [percent_math_total],
                           "Percent Passing Reading" : [percent_reading_total],
                           "Overall Passing Rate (%)" : [percent_overall_total]})
district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)
district_df["Total Students"] = district_df["Total Students"].map("{:,}".format)
district_df

,Total Schoosl,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate (%)
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [105]:
#group comoplete data by school
complete_school = complete_df.set_index(["school_name"])
school_index = school_df.set_index(["school_name"])
school_group = complete_school.groupby(["school_name"])

#create series for each value sought
school_group_type = school_index["type"]
school_group_count = school_group.mean()["size"]
school_group_budget = school_index["budget"]
school_group_per_student = school_group_budget/school_group_count
school_group_math = school_group.mean()["math_score"]
school_group_reading = school_group.mean()["reading_score"]

#create series of all students who passed math or reading
complete_math_list = complete_school[(complete_school["math_score"]>=70)]
complete_reading_list = complete_school[(complete_school["reading_score"]>=70)]
#group passing students by school and count
group_math_count = complete_math_list.groupby(["school_name"]).count()["math_score"]
group_reading_count = complete_reading_list.groupby(["school_name"]).count()["reading_score"]
#find %
group_math_percent = group_math_count/school_group_count*100
group_reading_percent = group_reading_count/school_group_count*100
group_overall_percent = (group_math_percent + group_reading_percent)/2

In [114]:
#individual school df
school_group_df = pd.DataFrame({"School Type" : school_group_type,
                                "Total Students": school_group_count,
                                "Total School Budget" : school_group_budget,
                                "Per Student Budget" : school_group_per_student,
                                "Avg Math Score" : school_group_math,
                                "Avg Reading Score" : school_group_reading,
                                "Percent Passing Math" : group_math_percent,
                                "Percent Passing Reading" : group_reading_percent,
                                "Overall Passing Rate (%)" : group_overall_percent})

school_group_df["Total School Budget"] = school_group_df["Total School Budget"].map("${:,.2f}".format)
school_group_df["Total Students"] = school_group_df["Total Students"].map("{:,.0f}".format)
school_group_df["Per Student Budget"] = school_group_df["Per Student Budget"].map("${:,.2f}".format)

school_group_df

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate (%)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,94.972222

In [117]:
top_schools = school_group_df.sort_values(by = ["Overall Passing Rate (%)"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate (%)
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [119]:
bottom_schools = school_group_df.sort_values(by = ["Overall Passing Rate (%)"])
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate (%)
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

In [133]:
#separate students by grade
ninth_total = complete_school[(complete_school["grade"] == "9th")]
tenth_total = complete_school[(complete_school["grade"] == "10th")]
eleventh_total = complete_school[(complete_school["grade"] == "11th")]
twelfth_total = complete_school[(complete_school["grade"] == "12th")]

#group grades by school
ninth_math = ninth_total.groupby(["school_name"]).mean()["math_score"]
tenth_math = tenth_total.groupby(["school_name"]).mean()["math_score"]
eleventh_math = eleventh_total.groupby(["school_name"]).mean()["math_score"]
twelfth_math = twelfth_total.groupby(["school_name"]).mean()["math_score"]

#df
math_grade_df = pd.DataFrame({"9th Grade Avg Math Score" : ninth_math,
                             "10th Grade Avg Math Score" : tenth_math,
                             "11th Grade Avg Math Score" : eleventh_math,
                             "12th Grade Avg Math Score" : twelfth_math})
math_grade_df

,9th Grade Avg Math Score,10th Grade Avg Math Score,11th Grade Avg Math Score,12th Grade Avg Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [134]:
#group grades by school
ninth_reading = ninth_total.groupby(["school_name"]).mean()["reading_score"]
tenth_reading = tenth_total.groupby(["school_name"]).mean()["reading_score"]
eleventh_reading = eleventh_total.groupby(["school_name"]).mean()["reading_score"]
twelfth_reading = twelfth_total.groupby(["school_name"]).mean()["reading_score"]

#df
reading_grade_df = pd.DataFrame({"9th Grade Avg Reading Score" : ninth_reading,
                             "10th Grade Avg Reading Score" : tenth_reading,
                             "11th Grade Avg Reading Score" : eleventh_reading,
                             "12th Grade Avg Reading Score" : twelfth_reading})
reading_grade_df

,9th Grade Avg Reading Score,10th Grade Avg Reading Score,11th Grade Avg Reading Score,12th Grade Avg Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [157]:
#create bins and groups
bins = [0, 599, 629, 649, 700]
group_names = ["< $600", "$600 to 630", "$630 to 650", "> $650"]

#create new column of ranges and place each school in a bin
school_group_df["Avg Spending Ranges (per Student)"] = pd.cut(school_group_per_student, bins, labels=group_names)

#sort by ranges and find avg
spending_ranges_math = school_group_df.groupby(["Avg Spending Ranges (per Student)"]).mean()["Avg Math Score"]
spending_ranges_reading = school_group_df.groupby(["Avg Spending Ranges (per Student)"]).mean()["Avg Reading Score"]
spending_ranges_percent_math = school_group_df.groupby(["Avg Spending Ranges (per Student)"]).mean()["Percent Passing Math"]
spending_ranges_percent_reading = school_group_df.groupby(["Avg Spending Ranges (per Student)"]).mean()["Percent Passing Reading"]
spending_ranges_overall = (spending_ranges_percent_math + spending_ranges_percent_reading)/2

#df
spending_ranges = pd.DataFrame({"Avg Math score" : spending_ranges_math,
                               "Avg Reading Score" : spending_ranges_reading,
                               "Percent Passing Math" : spending_ranges_percent_math,
                               "Percent Passing Reading" : spending_ranges_percent_reading,
                               "Overall Passing Rate" : spending_ranges_overall})
spending_ranges

,Avg Math score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Avg Spending Ranges (per Student),,,,,
< $600,83.455399,83.933814,93.460096,96.610877,95.035486
$600 to 630,81.899826,83.155286,87.133538,92.718205,89.925871
$630 to 650,78.518855,81.624473,73.484209,84.391793,78.938001
> $650,76.997210,81.027843,66.164813,81.133951,73.649382

In [161]:
#create bins and groups
bins_size = [0, 1500, 2500, 7000]
group_names_size = ["Small (<1500)", "Medium (1500 to 2500)", "Large (2500+)"]

#create new column of ranges and place each school in a bin
school_group_df["School Size"] = pd.cut(school_group_count, bins_size, labels=group_names_size)

#sort by ranges and find avg
size_ranges_math = school_group_df.groupby(["School Size"]).mean()["Avg Math Score"]
size_ranges_reading = school_group_df.groupby(["School Size"]).mean()["Avg Reading Score"]
size_ranges_percent_math = school_group_df.groupby(["School Size"]).mean()["Percent Passing Math"]
size_ranges_percent_reading = school_group_df.groupby(["School Size"]).mean()["Percent Passing Reading"]
size_ranges_overall = (size_ranges_percent_math + size_ranges_percent_reading)/2

#df
size_ranges = pd.DataFrame({"Avg Math score" : size_ranges_math,
                               "Avg Reading Score" : size_ranges_reading,
                               "Percent Passing Math" : size_ranges_percent_math,
                               "Percent Passing Reading" : size_ranges_percent_reading,
                               "Overall Passing Rate" : size_ranges_overall})
size_ranges

,Avg Math score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1500),83.664898,83.892148,93.497607,96.445946,94.971776
Medium (1500 to 2500),83.359224,83.898984,93.694764,96.670815,95.182790
Large (2500+),76.956733,80.966636,66.548453,80.799062,73.673757

In [163]:
type_math = school_group_df.groupby(["School Type"]).mean()["Avg Math Score"]
type_reading = school_group_df.groupby(["School Type"]).mean()["Avg Reading Score"]
type_percent_math = school_group_df.groupby(["School Type"]).mean()["Percent Passing Math"]
type_percent_reading = school_group_df.groupby(["School Type"]).mean()["Percent Passing Reading"]
type_overall = (type_percent_math + type_percent_reading)/2

type_df = pd.DataFrame({"Avg Math Score" : type_math,
                       "Avg Reading Score" : type_reading,
                       "Percent Passing Math" : type_percent_math,
                       "Percent Passing Reading" : type_percent_reading,
                       "Overall Passing Rate": type_overall})

type_df

,Avg Math Score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757